@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="industry1">
    <h1>This is the title</h1>
    <h3>this is the subtitle</h3>
</div>

<div><p>Use this area to provide additional information.</p></div>

<div><h1>Feedback</h1></div>

