@{
    ViewData["Title"] = "Organisations";
}
<div class="industry1">
    <h1>This is the title</h1>
    <h3>this is the subtitle</h3>
</div>
<div class="row" style="padding-left: 15px">
    <div class="col-sm-12 col-md-6">
        <figure class="img-responsive">
            <img src="../images/IBM.jpg" alt="AI">
            <figcaption>Artificial Intelligence</figcaption>
        </figure>
    </div>
    <div class="col-sm-12 col-md-6">
        <figure class="img-responsive">
            <img src="../images/Amazon.jpg" alt="IoT">
            <figcaption>Internet of Things</figcaption>
        </figure>
    </div>
    <div class="col-sm-12">
        <figure class="img-responsive">
            <img src="../images/Google.jpg" alt="CognitiveServices">
            <figcaption>Cognitive Services</figcaption>
        </figure>

    </div>
    <div class="col-sm-12 col-md-6">
        <figure class="img-responsive">
            <img src="../images/Microsoft.jpg" alt="CloudComputing">
            <figcaption>Cloud Computing</figcaption>
        </figure>

    </div>
    <div class="col-sm-12 col-md-6">
        <figure class="img-responsive">
            <img src="../images/CSIRO.jpg" alt="Robotics">
            <figcaption>Robotics</figcaption>
        </figure>

    </div>
    <div class="col-sm-12">
        <figure class="img-responsive">
            <img src="../images/DIIS.jpg" alt="Blockchain">
            <figcaption>Block Chains</figcaption>
        </figure>
    </div>
</div>

<div><h1>Feedback</h1></div>
