@{
    ViewData["Title"] = "Organisations";
}
<div class="industry1">
    <h1>This is the title</h1>
    <h3>this is the subtitle</h3>
</div>

<div class="row" style="padding-left: 15px">
    <div class="col-sm-12 col-md-6">

        <img src="../images/IBM.jpg" alt="AI">

    </div>
    <div class="col-sm-12 col-md-6">

        <img src="../images/Amazon.jpg" alt="IoT">

    </div>
    <div class="col-sm-12">

        <img src="../images/Google.jpg" alt="CognitiveServices">



    </div>
    <div class="col-sm-12 col-md-6">
        <
        <img src="../images/Microsoft.jpg" alt="CloudComputing">


    </div>
    <div class="col-sm-12 col-md-6">

        <img src="../images/CSIRO.jpg" alt="Robotics">


    </div>
    <div class="col-sm-12">

        <img src="../images/DIIS.jpg" alt="Blockchain">

    </div>
</div>


<div><h1>Feedback</h1></div>
